package templates

templ base() {
	<html>
		<head>
			<title>{ title(ctx) }</title>
			<link rel="stylesheet" href="/assets/global.css"/>
			<script src="/assets/index.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}

templ header() {
	<header flex="col" p="2" bg="blue">
    <a>Home</a>
    <a>Home</a>
    <a>Home</a>
  </header>
}

templ footer() {
	<footer></footer>
}

templ page() {
	@base() {
		@header()
		<main p="x2">
			{ children... }
		</main>
		@footer()
	}
}
